! -----------------------------------------------------------------------------
! Current Xresources config
! -----------------------------------------------------------------------------

XTerm.termName: xterm-256color
XTerm.vt100.reverseVideo: true
!XTerm.vt100.faceName: PT Mono:size=13
XTerm.vt100.faceName: Terminus:size=14

! -----------------------------------------------------------------------------
! OLD Xresources config
! Source of config file:
! https://gitlab.com/dwt1/dotfiles/-/blob/master/.Xresources?ref_type=heads
! -----------------------------------------------------------------------------

! -----------------------------------------------------------------------------
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! Source of config file:
! https://github.com/morhetz/gruvbox-contrib/blob/master/xresources/gruvbox-dark.xresources
! -----------------------------------------------------------------------------
